{
    "extends": [
        "eslint:recommended",
        "airbnb-base"
    ],
    "plugins": [
        "import"
    ],
    "rules": {
        "max-len": [
            "error",
            {
              "code": 200
            }
          ],
        "linebreak-style": "off"
      }
}
